.orderBooking{
    display: none;
    position: relative;
    height: 100%;
    padding-bottom: 4rem;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
    
    -webkit-transition: all .3s ease-in; 
    transition: all .3s ease-in; 
    -webkit-transform: translate(0, 100%); 
    transform: translate(0, 100%); 
    .combo{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .booking{
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            min-height: 60vh;
            background-color: #fff;
            padding: 1rem;
            .booking-message{
                .booking-name{
                    display: flex;
                    p{
                        flex-grow: 1;
                        font-size: 1.2rem;
                        margin-right: 1.5rem;
                    }
                    i{
                        font-size: 1.6rem;   
                    }
                }
                .booking-room{
                    display: flex;
                    margin: 1rem 0;
                    .room{
                        font-size: 1.2rem;
                        color: #888888;
                        flex-grow: 1;
                    }
                    .price{
                        font-size: 1.2rem;
                        color: #1ABC9C;
                    }
                }
            }
            .bookingNum{
                ul{
                    display: flex;
                    line-height: 2.5rem;
                    justify-content: flex-end;
                    li{
                        &:nth-of-type(1){
                            width: auto;
                            border:none;
                            font-size: 1.2rem;
                        }
                        &:nth-of-type(3){
                            border-left: none;
                            border-right: none;
                            input{
                                width:100%;
                                text-align: center;
                            }
                        }
                        width: 2.5rem;
                        border: 1px solid #b8b8b8;
                        text-align: center;
                    }
                }
            } 
            .booking-date{
                background-color: #f6f6f6;
                line-height: 2rem;
                padding: 1rem;
                margin: 1rem 0;
            } 
        }
        footer{
            .bookingBtn{
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                height: 4rem;
                border-top:1px solid rgb(26, 188, 156);
                line-height: 4rem;
                text-align: center;
                font-weight: bold;
                .totalfee{
                    flex: 1;
                    font-size: 1.33rem;
                    background-color: #fff;
                    color: rgb(26, 188, 156);
                }
                .next{
                    flex: 1;
                    font-size: 1.33rem;
                    color: #fff;
                    background-color: rgb(26, 188, 156);
                }
            }
            .cartBtn{
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                padding: 1rem;
                div{
                    flex: 1;
                    font-size: 1.33rem;
                    color: #fff;
                    background-color: rgb(26, 188, 156);
                    height: 4rem;
                    line-height: 4rem;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}
.show{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.show-enter-active {
    transition: all 0.2s ease;
}
.show-leave-active {
    transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}
.show-enter, .show-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
}
