.guidePage{
	padding-bottom: 60px;
}
.guidePage .search-form input{
    padding: .5rem 0;
    display: block;
    width: 100%;
    line-height: 1.6;
    background-color: transparent;
    font-size: 1.1rem;
    color: #666;
}
.guidePage .search-icon{
	background-position: 36%;
}
.guidePage .search-form{   
    position: relative;
    width: 100%;
    background: #F5F5F5;
    border-radius: 4rem;
    border: none;
}
.guidePage .search-bar{
	background: #fff;
    padding: 2rem 1rem;
}
.txt-center{
	text-align: center;
}
.season-rec{
	padding: 1.5rem 0;
}
.city-desc{
	color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.g-cityName{
	padding: .5rem 0;
}
.guidePage .city{
    padding-bottom: 2rem;
}
.g-province{
    padding: 1.5rem 0;
    line-height: 1.8;
}
.g-proSub{
	color: #666;
}
.city-item-container{
	padding: 1rem;
}
.cityshi{
	width: 32%;
	display: block;
    margin-right: 2%;
    margin-left: 0;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}
.cityshi:nth-of-type(3n){
	margin-right: 0;
}
.g-city-list{
	overflow: hidden;
}
.cityshi .city-name{
    padding: .5rem 0 0
}
.city-container,.g-header{
	background: #fff;
    margin-top: 1rem;
}
.other-city{
	position: relative;
	background: #000;
}
.other-city>img{
	opacity: .8;
}
.item-title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}
